<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Information</title>
</head>
<body>
    <h1>Device Information</h1>
    <ul>
        <li>IP: <%= ip %></li>
        <li>User Agent: <%= userAgent %></li>
        <li>Browser Name: <%= browserName %></li>
        <li>Browser Version: <%= browserVersion %></li>
        <li>OS Name: <%= osName %></li>
        <li>OS Version: <%= osVersion %></li>
        <li>Device Type: <%= deviceType %></li>
        <li>CPU Architecture: <%= cpuArchitecture %></li>
        <li>Platform: <%= platform %></li>
        <li>Date and Time: <%= dateTime %></li>
    </ul>
</body>
</html>